<h1><%= @user.email %></h1>
<h2>Projects Backed</h2>
<% Pledge.where(backer_id: current_user.id).each do |pledge| %>
<p><%= pledge.project.name %></p>
<% end %>

<h2>Spent to date:</h2>
<%= Pledge.where(backer_id: current_user.id).sum(:contribution) %>